<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/style.css" />
        <script src="./js/index.js"></script>
    </head>
    <body>
        <div class="container">
            {{>header}}
            {{>nav}}
            <img src="{{imageSrc}}" alt="" class="profile-pic" />
        </div>
    </body>
</html>