<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/style.css" />
    </head>
    <body>
        {{>header}}
        <h1>{{title}}</h1>
        <h2>{{description}}</h1>
        <form>
            <input id="location" type="text" placeholder="Location" />
            <button id="search">Search</button>
        </form>
        <p id="weatherInfo"></p>
         <script src="./js/index.js"></script>
    </body>
</html>